<div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
  @for (balance of balances; track balance.label) {
    <app-balance-card
      [amount]="balance.amount"
      [label]="balance.label"
    ></app-balance-card>
  }
</div>

<div class="grow shrink-0 basis-[680px] flex flex-col h-[680px]">
  <app-column-container [title]="'Wallet'">
    <div class="h-full">
      <app-wallet-table-history [dataSource]="dataSource" [skeleton]="false">
      </app-wallet-table-history>
    </div>
  </app-column-container>
</div>

<ng-container *cdkPortal>
  <div class="flex gap-4 items-center">
    <button
      mat-flat-button
      color="primary"
      class="add-wallet-button !font-display"
      (click)="handleAddWallet()"
    >
      <mat-icon>add_card</mat-icon>
      Top Up Wallet
    </button>
  </div>
</ng-container>
