.user-identity {
  display: flex;
  align-items: center;
  grid-column-gap: 0.5rem {
    margin: 0;
    font-size: 14px;
  }

  &.click-enabled {
    cursor: pointer;
  }
}

.user-identity--circle {
  border-radius: 50%;
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  padding: 0.25rem;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &--small {
    font-size: 10px;
    padding: 0.125rem;
  }
}
