<div>
  <button
    mat-flat-button
    [type]="type"
    [disabled]="isDisabled || isLoading"
    [style.font-size]="isHandset ? '20px' : '15px'"
    [color]="color"
    [attr.form]="form"
    class="text-lg w-full text-center relative submit-button"
  >
    <span class="flex justify-center items-center gap-2">
      @if (icon) {
        <mat-icon>{{ icon }}</mat-icon>
      }
      {{ text }}
    </span>
    @if (isLoading) {
      <mat-progress-spinner
        color="primary"
        mode="indeterminate"
        class="!absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
        diameter="20"
      ></mat-progress-spinner>
    }
  </button>
</div>
