<mat-form-field
  hideRequiredMarker
  subscriptSizing="dynamic"
>
  <mat-label>{{ label }}</mat-label>
  <mat-icon matSuffix (click)="hidePassword = !hidePassword">{{
    hidePassword ? "visibility_off" : "visibility"
  }}</mat-icon>

  <input
    matInput
    name="password"
    [required]="required"
    [value]="value"
    [(ngModel)]="inputValue"
    [disabled]="isDisabled"
    [type]="hidePassword ? 'password' : 'text'"
    #password="ngModel"
  />

  @if(error['errors'] && password.touched) {
    <mat-error>
        <span> {{ error['errors'] | formError: label }}</span>
    </mat-error>
  }

  @if (mismatch && password.touched) {
    <mat-error>Passwords do not match</mat-error>
  }

</mat-form-field>
