/* Basic layout and sizing */
:host {
  display: block;
  height: 100vh;
}

.mat-sidenav-container {
  height: 100%;
  border-radius: 0%;
}

::ng-deep .mat-drawer-inner-container {
  overflow: hidden !important;
}

/* Sidenav styles */
.sidenav {
  width: 250px;
  /* Box shadow for a more elevated feel */
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

/* Main content styles */
.mat-sidenav-content {
  display: flex;
  flex-direction: column;
}

.mat-toolbar {
  /* Add a subtle box shadow to the toolbar */
  box-shadow:
    0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);

  /* Custom height for a sleeker look */
  height: 64px;
}

.mat-toolbar span {
  font-size: 24px;
  font-weight: 500;
}

.content {
  flex-grow: 1;
  padding: 24px;
  background-color: #f5f5f5;
}

.geonology-toolbar {
  padding: 18px;
}

.sticky-toolbar {
  position: sticky;
  top: 0;
  z-index: 1000;
}
