<form #addWallet="ngForm" (ngSubmit)="performAddWallet(addWallet)">
  <div mat-dialog-content>
    <div class="p-4 sm:p-6">
      <div
        class="flex flex-col gap-2 space-y-3 text-center sm:text-left font-display"
      >
        <div class="flex items-center gap-3">
          <p class="text-muted-foreground text-sm dark:text-gray-300">
            Enter an amount you wish to reload (minimum: 500 pesos)
          </p>
        </div>
      </div>

      <!-- Custom Amount Input -->
      <div class="mt-4">
        <mat-form-field class="w-full" hideRequiredMarker>
          <input
            matInput
            type="number"
            placeholder="Enter amount (minimum 500)"
            name="customAmount"
            id="customAmount"
            #customAmountInput="ngModel"
            [(ngModel)]="customAmount"
            min="500"
            required
          />
          @if (
            customAmountInput.invalid &&
            (customAmountInput.dirty || customAmountInput.touched)
          ) {
            <mat-error>
              @if (customAmountInput.hasError("required")) {
                <span class="font-display dark:text-alert-300">
                  Amount is required
                </span>
              }
              @if (customAmountInput.hasError("min")) {
                <span class="font-display dark:text-alert-300">
                  Minimum amount is 500 pesos
                </span>
              }
            </mat-error>
          }
        </mat-form-field>
      </div>
    </div>
  </div>

  @if (error$ | async; as error) {
    <div class="px-4 pb-2">
      <div class="bg-red-50 border border-red-200 rounded-lg p-3">
        <div class="flex items-center gap-2">
          <mat-icon class="text-red-600" style="font-size: 20px"
            >error</mat-icon
          >
          <span class="text-red-700 text-sm font-display">{{
            error.message
          }}</span>
        </div>
      </div>
    </div>
  }

  <div mat-dialog-actions class="p-4 flex gap-2">
    <button
      mat-stroked-button
      mat-dialog-close
      type="button"
      class="!font-display"
    >
      Cancel
    </button>
    <app-submit-button
      text="Add Wallet"
      icon="add_card"
      color="primary"
      [type]="'submit'"
      [isDisabled]="!customAmount"
      [isLoading]="submitting$ | async"
    >
    </app-submit-button>
  </div>
</form>
