/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";

@theme {
//  --color-primary: #1d4ed8;
//   --color-accent-700: #9333ea;
}


html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
