/* You can add global styles to this file, and also import other style files */

@use "tailwindcss";
@use "./styles/table";

@theme {
  // --color-primary: #0a54ff;
  // --color-accent: #0fc3fa;
  // --color-accent-700: #008ab8;
  --color-primary-50: #ebf1ff;
  --color-primary: #0a54ff;
  --color-accent: #0fc3fa;
  --color-green-500: #2edc87;
  --color-alert: #ff0000;
  --color-warning: #ffd23f;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.register-dialog .mat-mdc-dialog-container {
  max-width: 900px !important;
  min-width: 900px !important;
}

@media (max-width: 899px) {
  .register-dialog .mat-mdc-dialog-container {
    min-width: 400px !important;
    width: 95vw !important;
    max-width: 95vw !important;
  }
}
