.skeleton--text {
  padding: 0;
  border: none;
  box-shadow: none;
  pointer-events: none;
  width: 100%;
  height: 1rem;
  contain: content;
  position: relative;
  background-color: #f3f4f6;
  overflow: hidden;
}

@keyframes skeleton {
  0% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }
  20% {
    opacity: 1;
    transform: scaleX(1);
    transform-origin: left;
  }
  28% {
    transform: scaleX(1);
    transform-origin: right;
  }
  51% {
    transform: scaleX(0);
    transform-origin: right;
  }
  58% {
    transform: scaleX(0);
    transform-origin: right;
  }
  82% {
    transform: scaleX(1);
    transform-origin: right;
  }
  83% {
    transform: scaleX(1);
    transform-origin: left;
  }
  96% {
    transform: scaleX(0);
    transform-origin: left;
  }
  100% {
    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;
  }
}

.skeleton-loading {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    background: linear-gradient(
      90deg,
      transparent 0%,
      rgba(255, 255, 255, 0.4) 50%,
      transparent 100%
    );

    -webkit-animation: 3000ms ease-in-out skeleton infinite;
    animation: 3000ms ease-in-out skeleton infinite;

    opacity: 0.3;
    transform: scaleX(0);
    transform-origin: left;

    will-change: transform-origin, transform, opacity;
  }
}
