<div class="h-screen bg-white shadow-md flex flex-col ml-[0px]">
  <!-- Logo -->
  <div class="bg-blue-600 text-white text-lg font-bold p-[18.6px]">NivJenZ</div>

  <!-- Nav Items -->
  <nav class="flex-1 space-y-1 mt-2">
    <a
      routerLink="/dashboard"
      routerLinkActive="bg-blue-100 text-blue-600"
      class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-md"
    >
      <span class="material-icons mr-3 text-gray-500">dashboard</span>
      Dashboard
    </a>

    <a
      routerLink="/ecu-wallet"
      routerLinkActive="bg-blue-100 text-blue-600"
      class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-md"
    >
      <span class="material-icons mr-3 text-gray-500"
        >account_balance_wallet</span
      >
      NJ Wallet
    </a>

    <a
      routerLink="/unilevel"
      routerLinkActive="bg-blue-100 text-blue-600"
      class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-md"
    >
      <span class="material-icons mr-3 text-gray-500">account_tree</span>
      Unilevel
    </a>

    <a
      [routerLink]="['/geonology', userId()]"
      routerLinkActive="bg-blue-100 text-blue-600"
      class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-md"
    >
      <span class="material-icons mr-3 text-gray-500">map</span>
      Genealogy
    </a>

    <a
      routerLink="/leadership-support"
      routerLinkActive="bg-blue-100 text-blue-600"
      class="flex items-center px-4 py-2 text-gray-700 hover:bg-blue-50 rounded-md"
    >
      <span class="material-icons mr-3 text-gray-500">supervisor_account</span>
      Leadership Support
    </a>
  </nav>
</div>
