<div
  class="nivjenz-sidenav flex flex-col justify-between"
  [class.is-expanded]="isExpanded"
>
  @if (isExpanded) {
    @for (menu of [menuItems, secondaryMenuItems]; track $index) {
      <mat-accordion multi>
        @for (item of menu; track $index) {
          <mat-expansion-panel
            [expanded]="true"
            class="bg-white dark:!bg-black"
          >
            <mat-expansion-panel-header class="!px-4 !h-12"
              ><mat-panel-title
                class="uppercase text-black dark:!text-gray-500 font-display"
                >{{ item.label }}</mat-panel-title
              >
            </mat-expansion-panel-header>
            @for (child of item.children; track $index) {
              <ng-template
                *ngTemplateOutlet="menuItem; context: { $implicit: child }"
              ></ng-template>
            }
          </mat-expansion-panel>
        }
      </mat-accordion>
    }
  } @else {
    @for (menu of [menuItems, secondaryMenuItems]; track $index) {
      <div>
        @for (item of menu; track $index) {
          <div>
            @for (child of item.children; track $index) {
              <ng-template
                *ngTemplateOutlet="menuItem; context: { $implicit: child }"
              ></ng-template>
            }
          </div>
        }
      </div>
    }
  }
</div>
@if (canClose) {
  <div class="flex p-4">
    <button
      (click)="toggleExpansion.emit()"
      class="flex gap-2 items-center text-sm text-gray-600"
    >
      <div class="border rounded-full p-1 flex">
        <mat-icon
          aria-label="Menu"
          [class.rotate-180]="!isExpanded"
          class="transition-transform"
          >arrow_backward</mat-icon
        >
      </div>
      @if (isExpanded) {
        Collapse Menu
      }
    </button>
  </div>
}

<ng-template #menuItem let-child>
  <a
    class="font-display p-3 flex gap-4 border-l-4 border-transparent border-solid focus:outline-accent focus:outline-2 focus:-outline-offset-2 focus:outline hover:bg-gray-100 dark:hover:bg-gray-900 transition-colors text-gray-800 dark:text-white"
    [class.justify-center]="!isExpanded"
    matLine
    [routerLink]="child.routerLink.join('/')"
    [queryParams]="
      child.globalFilters
        ? queryParams?.['global']
        : queryParams?.[child.routerLink.join('/')]
    "
    routerLinkActive="!text-primary group is-active dark:!text-primary-200-dark !border-accent bg-gray-100 dark:bg-gray-900"
    [routerLinkActiveOptions]="{ exact: child.exactMatchHighlight || false }"
    [matTooltip]="child.label"
    [matTooltipPosition]="'right'"
    [matTooltipDisabled]="isExpanded"
    [matTooltipShowDelay]="500"
  >
    <mat-icon
      *ngIf="child.icon"
      class="!text-primary-300 group-[.is-active]:!text-primary"
      >{{ child.icon }}</mat-icon
    >
    <span class="nivjenz-sidenav--child--text" *ngIf="isExpanded">{{
      child.label
    }}</span>
  </a>
</ng-template>
